body {
  height: 100%;
  font-family: 'Open Sans', serif;
  background-color: #fff;
}

header {
  background-color: #2F2235;
  color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

h1 {
  font-weight: 300;
  font-size: 25px;
  Margin-left: 50px;
}

span {
  font-weight: 300;
  color: #34D1D1;
}

.student {
  font-weight: 600;
  font-size: 15px;
  margin-right: 50px;
}

.accordion-section {
  width: 90%;
  margin: 50px auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  top: 25px;
}

ul {
  display: flex;
  width: 100%;
  text-align: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  width: 25%;
  height: 50px;
  color: #666666;
  font-weight: 300;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

li.active {
  font-weight: 600;
  border: 1px solid #D1D2D3;
  border-bottom: 0;
  background-color: #fff;
}

div.active {
  display: block;
}

.tab-container {
  width: 90%;
  border: 1px solid #D1D2D3;
  border-top: 0;
  margin: auto;
}

.tab-content {
  display: none;
}

.tab-sections {
  display: flex;

}

.img-placeholder {
  height: 300px;
  width: 300px;
  padding: 28px 22px;
  ;
}

.content-title {
  font-size: 25px;
  margin-left: 50px;
  width: 90%;
  font-weight: 600;
  border-bottom: 1px solid #D1D2D3;
  padding-top: 28px;
  padding-bottom: 20px;
}

.content-body {
  font-weight: 300;
  font-size: 25px;
  margin-left: 50px;
  width: 90%;
  padding: 20px 0;
}

.viewcode-section {
  text-align: center;
}

.viewcode {
  background-color: #3F3244;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  border: none;
  height: 40px;
  width: 300px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}


.section-title {
  font-weight: 300;
  margin-bottom: 20px;
}

.title-line {
  width: 90%;
  margin: auto;
  font-weight: 300;
}

.flexible-cards-section {
  margin: 50px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  top: 25px;
}


.flexible-div {
  border: 1px solid black;
  margin: 10px;
  width: 30%;
}

.flexible-title {
  border: 1px solid black;
}

.flexible-image {
  height: 100px;
  width: 100%;
}

.flexible-one, .flexible-seven {
  flex: 62%;
}

.flexible-two, .flexible-three, .flexible-four, .flexible-five, .flexible-six {
  flex: 30%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 50px auto;
  border: 1px solid black;
  height: 100px;
  margin-bottom: 100px;
  background-color: #666666;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-icon {
  height: 25px;
  width: 20px;
  position: relative;
  left: 35px;
}

.search-input {
  height: 40px;
  border: 1px solid #D1D2D3;
  text-indent: 40px;
  font-size: 20px;
  font-weight: 100;
  background-color: #D1D2D3;
}

.user-icon {
  height: 50px;
  width: 50px;
}

.navigation-links {
  font-weight: 300;
}

.vertical-header {
  display: none;
}

@media screen and (max-width: 420px) {
  ul {
    display: none;
  }

  .vertical-header {
    cursor: default;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    width: 100%;
    height: 50px;
    color: #666666;
    font-weight: 300;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  .vertical-header.active {
    font-weight: 600;
    border: 1px solid #D1D2D3;
    border-bottom: 0;
    background-color: #fff;
  }

  div.active {
    display: block;
  }

  .img-placeholder {
    height: 250px;
    width: 85%;
  }

  .content-title {
    width: 85%;
    margin: auto;
  }

  .content-body {
    width: 85%;
    font-size: 18px;
    margin: auto;
  }

  .tab-sections {
    flex-direction: column;
  }

  .flexible-one, .flexible-seven {
    flex: 100%;
  }

  .flexible-two, .flexible-three, .flexible-four, .flexible-five, .flexible-six {
    flex: 100%;
  }
}
