body {
  height: 100%;
  background-color: #fff;
  font-family: 'Open Sans', serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F2235;
  color: #F2F2F2;
  height: 50px;
}

h1 {
  font-weight: 300;
  font-size: 25px;
  margin-left: 50px;
}

span {
  color: #34D1D1;
  font-weight: 300;
}

.student {
  font-size: 15px;
  font-weight: 600;
  margin-right: 50px;
}

/* Accordion Tabs Section */

.accordion-section {
  display: flex;
  flex-direction: column;
  top: 25px;
  width: 90%;
  margin: 50px auto;
  margin-bottom: 0;
}

ul {
  display: flex;
  width: 100%;
  text-align: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #D1D2D3;
  color: #666666;
  height: 50px;
  width: 25%;
  font-weight: 300;
}

li.active {
  background-color: #fff;
  border: 1px solid #D1D2D3;
  border-bottom: 0;
  font-weight: 600;
}

.tab-content.active {
  display: block;
}

.tab-container {
  width: 90%;
  border: 1px solid #D1D2D3;
  border-top: 0;
  margin: auto;
}

.tab-content {
  display: none;
}

.tab-sections {
  display: flex;

}

.img-placeholder {
  height: 300px;
  width: 300px;
  padding: 28px 22px;
  ;
}

.content-title {
  margin: auto;
  padding-bottom: 20px;
  padding-top: 28px;
  border-bottom: 1px solid #D1D2D3;
  width: 90%;
  font-size: 25px;
  font-weight: 600;
}

.content-body {
  font-weight: 300;
  font-size: 25px;
  margin: auto;
  width: 90%;
  padding: 20px 0;
}

.viewcode-section {
  text-align: center;
}

/* View Code Button */

.viewcode {
  background-color: #3F3244;
  color: #fff;
  border: none;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  height: 40px;
  width: 300px;
}

/* Section Titles */

.title-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.accordion {
  margin-top: 35px;
}

.title-line {
  font-weight: 300;
  margin-left: 20px;
}

.hr {
  border-bottom: 1px solid #D1D2D3;
  width: 75%;
}

/* Flexible Cards Section */

.flexible-cards-section {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  top: 25px;
  width: 90%;
}


.flexible-div {
  border: 1px solid black;
  margin: 10px;
  width: 30%;
}

.flexible-title {
  border: 1px solid black;
}

.flexible-image {
  height: 100px;
  width: 100%;
}

.flexible-one, .flexible-seven {
  flex: 63%;
}

.flexible-two, .flexible-three, .flexible-four, .flexible-five, .flexible-six {
  flex: 30%;
}

/* Navbar Section */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #D1D2D3;
  border: 1px solid #000000;
  margin: 50px auto;
  margin-bottom: 100px;
  height: 100px;
  width: 90%;
}

.nav-links-section {
  display: flex;
}

.nav-search-section {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  background-color: #F2F2F2;
  border: 1px solid #666666;
  font-size: 20px;
  font-weight: 100;
  text-indent: 40px;
  height: 40px;
}

.search-icon {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 20px;
}

.user-icon {
  height: 50px;
  width: 50px;
}

.nav-links {
  font-weight: 300;
  padding: 0 40px;
}

.vertical-header {
  display: none;
}

.menu {
  display: none;
}

@media screen and (max-width: 1250px) {
  .nav-links {
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  ul {
    display: none;
  }

  .vertical-header {
    align-items: center;
    background-color: #F2F2F2;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    cursor: default;
    display: flex;
    color: #666666;
    font-weight: 300;
    text-indent: 25px;
    height: 50px;
    width: 100%;
  }

  .vertical-header.active {
    background-color: #fff;
    border: 1px solid #D1D2D3;
    border-bottom: 0;
    font-weight: 600;
  }

  div.active {
    display: block;
  }

  .img-placeholder {
    margin: auto;
    height: 250px;
    width: 85%;
  }

  .content-title {
    margin: auto;
    width: 85%;
  }

  .content-body {
    font-size: 18px;
    width: 85%;
  }

  .tab-sections {
    flex-direction: column;
  }

  .flexible-one, .flexible-seven {
    flex: 100%;
  }

  .flexible-two, .flexible-three, .flexible-four, .flexible-five, .flexible-six {
    flex: 100%;
  }

  .navbar {
    flex-direction: column;
    height: 100%;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 90%;
  }

  .menu {
    display: inline;
    font-weight: 300;
    font-size: 20px;
  }

  .nav-links-section {
    flex-direction: column;
    background-color: #F2F2F2;
    width: 100%;
  }

  .nav-links {
    width: 70%;
    margin: auto;
    padding: 20px 0;
  }

  .nav-search-section {
    background-color: #F2F2F2;
    width: 100%;
  }

  .search-icon {
    left: 30px;
  }

  .search-input {
    width: 90%;
    margin: 20px;
    border: 1px solid #666666;
  }

  .hidden {
    display: none;
  }
}
