body {
  height: 100%;
  font-family: 'Open Sans', serif;
  background-color: #F2F2F2;
}

header {
  background-color: #2F2235;
  color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

h1 {
  font-weight: 300;
  font-size: 25px;
  margin-left: 50px;
}

span {
  font-weight: 300;
  color: #34D1D1;
}

.student {
  font-weight: 600;
  font-size: 15px;
  margin-right: 50px;
}

.accordion-section {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  top: 25px;
}

.img-placeholder {
  height: 300px;
  width: 300px;
  float: left;
  padding: 20px 0;
}

ul.tabs {
  display: flex;
	height: 32px;
	border-bottom: 1px solid #333;
	width: 100%;
}

li {
	float: left;
	cursor: pointer;
  text-align: center;
	height: 32px;
	line-height: 31px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #666666;
  background-color: #D1D2D3;
	color: #666666;
	overflow: hidden;
	position: relative;
  width: 25%;
}

.content-title {
  font-weight: 600;
  float: right;
  width: 55%;
  border-bottom: 1px solid #D1D2D3;
  padding: 20px 0;
}

.content-body {
  float: right;
  width: 55%;
  padding: 10px 0;
}

.tab_last { border-right: 1px solid #fff; }


ul.tabs li.active {
	background-color: #F2F2F2;
  font-weight: 600;
	color: #333;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  border-bottom: 0;
	display: block;
}

.tab_container {
	border: 1px solid #333;
	border-top: none;
	clear: both;
	width: 100%;
	background: #F2F2F2;
}

.tab_content {
	padding: 20px;
	display: none;
  vertical-align: middle;
}

.tab_drawer_heading { display: none; }

.viewcode-section {
  text-align: center;
}

.viewcode {
  background-color: #3F3244;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  border: none;
  height: 40px;
  width: 300px;
  color: white;
  margin-bottom: 50px;
}


.section-title {
  font-weight: 300;
  margin-bottom: 20px;
}

.flexible-cards-title {
  width: 90%;
  font-weight: 300;
  margin-left: 50px;
}

.flexible-cards-section {
  margin: 50px auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  top: 25px;
}


.flexible-div {
  border: 1px solid black;
  margin: 10px;
  width: 30%;
}

.flexible-title {
  border: 1px solid black;
}

.flexible-image {
  height: 100px;
  width: 100%;
}

.flexible-one, .flexible-seven {
  flex: 2 2 62%;
}


.flexible-two, .flexible-three, .flexible-four, .flexible-five, .flexible-six {
  flex: 1 1 30%;
}

@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}
